/*Icon by mithun on freeicons.io*/

html,body{
    background-image: linear-gradient(to right,#eecabd, #f9ded7);
    /*f5cdde*/
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

/*nested grid*/
section{
    display: grid;
    justify-content: center;
    align-content: center;
}

/*grid layout*/
.wrapper{
    background: transparent;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    " . . "
    "header header "
    ". main"
    ". main2"
    ". main3"
    "footer footer";

    width: 800px;
    color: black;
}

/*header on top*/
header{
    grid-area: header;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

ul{
    text-align: center;
    padding-inline-start: 0px;
}

li{
    display: inline;
    list-style-type: none;
}

#nav{
    padding: 20px;
}

a, a:visited, a:active{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #4d98da;
    transition: 0.4s;
}

/*main images
    on right side of grid
*/ 
article{
    background-color:white;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid #cce1f2;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#main{
    grid-area: main;
}

#main2{
    grid-area: main2;
}


/*https://stackoverflow.com/questions/61804697/diagonally-transition-background-color-on-hover-from-bottom-left-to-top-right*/

#main3{
    grid-area: main3;

    /*hover effect*/
    background-image: linear-gradient(45deg, #d9e4f5 50%, white 50%);
    background-size: 250% 100%;
    background-position: right bottom;
    transition: background-position 1s ease;
    cursor: pointer;
}

#main3:hover{
  background-position: left top;
}

/*sidebar*/
/*move with scrollbar*/
/*removed from grid*/

aside{
    text-align: center;
    position: fixed;
    width: 230px;
    height: 250px;
    top: 126px;

  /*  grid-area: sidebar;
        ----- only add if want non-moveable sidebar
        ------ remove position:fixed 
  */

    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid #cce1f2; 
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

aside p{
    font-style: italic;
    margin-block-start: 1em;
    cursor: default;
}

aside p:hover{
    color:#98b9d3;
    transition: 0.3s;
}

#name{
    color: #98b9d3;
}

/*hover effect on folder icons*/
.folder{
    cursor: pointer;
    padding: 15px;
    border: none;
    background: none;
}

.folder img{
    transition: all 0.5s;
}
.folder:hover img{
    transform: scale(1.2);
}

/*footer*/
footer{
    grid-area: footer;
    text-align: center;
}

/*all images fit within parent*/
img{
    max-width: 100%;
}

p{
    text-align: center;
}

/*scrollbar customization*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background:#98b9d3;
}

h3{
    font-weight: normal;
    
}

h2{
    color: #98b9d3;
    font-style: italic;
    
}
/*tooltip on image hover*/
.tooltip{
    visibility: hidden;
    background-color: white;
    color: #98b9d3;

    /*position*/
    position: relative;

    /*ease of transition*/
    opacity: 0;
    transition: opacity 1s;
}

article:hover .tooltip{
    visibility: visible;
    opacity: 1;
    cursor: default;
}

/*modal pop up customization*/
.modal{
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(90, 90, 90, 0.5);
}


.modal-content{
    position: relative; 
    background-color: white;
    padding: 20px; 
    margin: auto; 
    width: 58%;  
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 10px solid #cce1f2;
    animation-name: slowdown;
    animation-duration: 0.5s;
}

@keyframes slowdown{
    from{
        top: -200px;
        opcaity: 0;
    }
    to{
        top: 0;
        opcaity: 1;
    }
}

/* resize images to fit within modal*/
.resize{
    width: 500px;
    height: auto;
    margin: 10px;
    padding: 5px;
    border: 3px solid #cce1f2;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

/*closing the pop up*/
.close, .close2, .close3{
    float: right;
    color: lightgray;
    font-size: 24px;  
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close2:hover, .close3:hover{
    color: #98b9d3;
}


/*MOBILE LAYOUT*/
/*hide most of site to reduce complexity*/
@media only screen and (max-width: 550px){

    /*remove grid layout*/
    section{
        display: block;
        position: relative;
    }

    .wrapper{
        display: block;
        position: relative;
        top: 2px;
        width: 100%;
        text-align: center;
    }

    article, footer, .hide{
        display: none;
    }

    /*header was optional*/
    header{
        position: relative;
        width: 100%;
        text-align: center;
        padding: 2px;
    }

/*only show sidebar in center*/
    aside{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
    .modal-content{
        width: 60%;
    }

    .resize{
        width: 200px;
        margin:0;
        padding:0;
        border: 0;
        margin-bottom: 10px;
        box-shadow: none;
    }
}